[submodule "data-subset"]
	path = data-subset
	url = git@github.com:TAMSAT/tamsat-data-subset.git
[submodule "tamsat_www"]
	path = tamsat_www
	url = git@github.com:guygriffiths/tamsat_www.git
[submodule "alert"]
	path = alert
	url = git@github.com:TAMSAT/tamsat-alert-webapp.git
